*.pyc
.python-version
*.log
*.sqlite3
config.json
venv/
__pycache__/
ffxivbot/migrations/
.vscode/

#production files
FFXIV/settings.py
ffxivbot/config.json
tooltip.png
utils/nohup.out
utils/log
.idea
*.swp

