beautifulsoup4==4.6.0
bs4==0.0.1
Django==2.0.10
PyMySQL==0.9.3
pytz==2018.3
requests>=2.20.0
uWSGI==2.0.17
channels==2.1.2
channels-redis==2.2.1
websocket-client==0.53.0
websockets==6.0
dice==2.3.5
feedparser==5.2.1
pika==0.13.1
requests-cache==0.4.13
Pillow==5.4.1
tqdm==4.31.1
