channels==2.3.1
tqdm==4.31.1
wordcloud==1.8.0
pika==0.13.1
opencv_python==4.1.2.30
numpy==1.17.3
asgiref==3.3.1
redis==3.1.0
pytz==2018.3
requests==2.25.1
feedparser==5.2.1
dice==2.3.5
jieba==0.39
Django==2.2.18
mysqlclient==1.4.6
beautifulsoup4[lxml]==4.9.3
gevent_socketio==0.3.6
Pillow==8.1.0
PyYAML==5.4.1
websocket_client==0.57.0
