beautifulsoup4==4.6.0
bs4==0.0.1
Django==2.0.8
PyMySQL==0.8.0
pytz==2018.3
requests>=2.20.0
uWSGI==2.0.17
channels==2.1.2
channels-redis==2.2.1
websocket-client==0.53.0
websockets==6.0
dice==2.3.5
feedparser==5.2.1
