{% extends 'index.html' %}
{% load static %}


{% block content %}

  <!-- Content Header (Page header) -->
  {% if err %}
    <div class="alert alert-danger alert-dismissible">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
      <h4><i class="icon fa fa-ban"></i> {{ err.title }}</h4>
      {{ err.message }}
    </div>
  {% endif %}
  {% if success %}
    <div class="alert alert-success alert-dismissible">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
      <h4><i class="icon fa fa-ban"></i> {{ success.title }}</h4>
      {{ success.message }}
    </div>
  {% endif %}
  <div class="content-header">
    <div class="container-fluid">
      <h1 class="m-0 text-dark">狩猎时钟</h1>
    </div>
  </div>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">

          <div class="card">
            <div class="card-header">
              {% if resources %}
              <h3 class="card-title">数据来源：{{resources}}</h3>
              {% else %}
              <h3 class="card-title">数据来源：无</h3>
              {% endif %}
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <p style="margin-bottom: 0px; margin-left: 10px;">狩猎怪筛选：</p>
              <div class="btn-group" role="group" style="margin-left: 10px">
                <button type="button" class="btn btn-primary" id="arr">2.0</button>
                <button type="button" class="btn btn-primary" id="hw">3.0</button>
                <button type="button" class="btn btn-primary" id="sb">4.0</button>
                <button type="button" class="btn btn-primary" id="shb">5.0</button>
                <button type="button" class="btn btn-primary" id="cd"><i class="fa fa-clock"></i></button>
              </div>
              <p style="margin-bottom: 0px; margin-left: 10px;">陆行鸟区：</p>
              <div class="btn-group" role="group" style="margin-left: 10px" data-toggle="buttons">
                <button type="button" class="btn btn-primary" id="hyh">红玉海</button>
                <button type="button" class="btn btn-primary" id="syzd">神意之地</button>
                <button type="button" class="btn btn-primary" id="hyqd">幻影群岛</button>
                <button type="button" class="btn btn-primary" id="lnxy">拉诺西亚</button>
                <button type="button" class="btn btn-primary" id="myc">萌芽池</button>
                <button type="button" class="btn btn-primary" id="yzhy">宇宙和音</button>
                <button type="button" class="btn btn-primary" id="wxxr">沃仙曦染</button>
                <button type="button" class="btn btn-primary" id="cxwz">晨曦王座</button>
              </div>
              <p style="margin-bottom: 0px; margin-left: 10px;">莫古力区：</p>
              <div class="btn-group" role="group" style="margin-left: 10px" data-toggle="buttons">
                <button type="button" class="btn btn-primary" id="cft">潮风亭</button>
                <button type="button" class="btn btn-primary" id="sqh">神拳痕</button>
                <button type="button" class="btn btn-primary" id="byx">白银乡</button>
                <button type="button" class="btn btn-primary" id="bjhx">白金幻象</button>
                <button type="button" class="btn btn-primary" id="lrzq">旅人栈桥</button>
                <button type="button" class="btn btn-primary" id="fxzj">拂晓之间</button>
                <button type="button" class="btn btn-primary" id="lcsd">龙巢神殿</button>
              </div>
              <p style="margin-bottom: 0px; margin-left: 10px;">猫小胖区：</p>
              <div class="btn-group" role="group" style="margin-left: 10px" data-toggle="buttons">
                <button type="button" class="btn btn-primary" id="zszq">紫水栈桥</button>
                <button type="button" class="btn btn-primary" id="yx">延夏</button>
                <button type="button" class="btn btn-primary" id="jyzy">静语庄园</button>
                <button type="button" class="btn btn-primary" id="mdn">摩杜纳</button>
                <button type="button" class="btn btn-primary" id="hmcw">海猫茶屋</button>
                <button type="button" class="btn btn-primary" id="rfhw">柔风海湾</button>
                <button type="button" class="btn btn-primary" id="hpy">琥珀原</button>
              </div>
              <table id="hunt-table" class="table table-hover table-striped dataTable">
                <thead>
                <tr>
                  <th style="text-align: center; vertical-align: center;">名称</th>
                  <th style="text-align: center; vertical-align: center;">地区</th>
                  <th style="text-align: center; vertical-align: center;">进度</th>
                  <th style="text-align: center; vertical-align: center;"></th>
                  <th style="text-align: center; vertical-align: center;">上次击杀</th>
                  <th style="text-align: center; vertical-align: center;">触发开始</th>
                  <th style="text-align: center; vertical-align: center;">必定触发</th>
                  <th style="text-align: center; vertical-align: center;">触发条件</th>
                  <!-- <th><center>配置</center></th> -->
                </tr>
                </thead>
                <tbody>
                {% for monster_info in hunt_list %}
                  {% if monster_info.monster_type == "50S" %}
                    <tr class="{{ monster_info.server_tag }} arr {{ monster_info.in_cd }}">
                      {% elif monster_info.monster_type == "60S" %}
                    <tr class="{{ monster_info.server_tag }} hw {{ monster_info.in_cd }}">
                      {% elif monster_info.monster_type == "70S" %}
                    <tr class="{{ monster_info.server_tag }} sb {{ monster_info.in_cd }}">
                      {% elif monster_info.monster_type == "80S" %}
                    <tr class="{{ monster_info.server_tag }} shb {{ monster_info.in_cd }}">
                  {% endif %}
                <td style="text-align: center; vertical-align: middle;">{{ monster_info.monster }}</td>
                <td style="text-align: center; vertical-align: middle;">{{ monster_info.territory }}</td>
                {% if monster_info.schedulef < 1 %}
                  <td style="text-align: center; vertical-align: middle; width: 10%;">
                    <div class="progress progress-sm" style="width: auto" title="{{monster_info.resource}}">
                      {% if monster_info.schedulef >= monster_info.cd_schedulef %}
                        <div class="progress-bar bg-blue progress-bar-striped" role="progressbar"
                             aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                             style="width: {{ monster_info.cd_schedule }};"></div>
                        <div class="progress-bar bg-green progress-bar-striped" role="progressbar"
                             aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                             style="width: {{ monster_info.schedule_diff }};"></div>
                      {% else %}
                        <div class="progress-bar bg-blue progress-bar-striped" role="progressbar"
                             aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                             style="width: {{ monster_info.schedule }};"></div>
                      {% endif %}
                    </div>
                  </td>
                {% else %}
                  <td style="text-align: center; vertical-align: middle; width: 10%;">
                    <div class="progress progress-sm" style="width: auto">
                      <div class="progress-bar bg-red progress-bar-striped" role="progressbar"
                           aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                           style="width: 100%;"></div>
                    </div>
                  </td>
                {% endif %}
                {% if monster_info.schedulef > 1 %}
                  <td style="text-align: center; vertical-align: middle; width: 5%;"><span
                      class="badge bg-red">{{ monster_info.schedule }}</span></td>
                {% elif monster_info.schedulef < monster_info.cd_schedulef %}
                  <td style="text-align: center; vertical-align: middle; width: 5%;"><span
                      class="badge bg-gray">{{ monster_info.schedule }}</span></td>
                {% else %}
                  <td style="text-align: center; vertical-align: middle; width: 5%;"><span
                      class="badge bg-green">{{ monster_info.schedule }}</span></td>
                {% endif %}
                <td style="text-align: center; vertical-align: middle;">{{ monster_info.kill_time }}</td>
                <td style="text-align: center; vertical-align: middle;">{{ monster_info.next_spawn_time }}</td>
                <td style="text-align: center; vertical-align: middle;">{{ monster_info.next_pop_time }}</td>
                <td style="text-align: left; vertical-align: middle; width: 25%;">{{ monster_info.info }}</td>
                </tr>
                {% endfor %}
                </tfoot>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>

        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
  </section>


{% endblock %}


{% block script %}
  <!-- jQuery 3 -->
  <script src="{% static "plugins/jquery/jquery.min.js" %}"></script>
  <!-- Bootstrap 3.3.7 -->
  <script src="{% static "plugins/bootstrap/js/bootstrap.min.js" %}"></script>
  <!-- DataTables -->
  <script src="{% static "plugins/datatables/jquery.dataTables.min.js" %}"></script>
  <script src="{% static "plugins/datatables-bs4/js/dataTables.bootstrap4.min.js" %}"></script>
  <!-- FastClick -->
  <script src="{% static "plugins/fastclick/fastclick.js" %}"></script>
  <!-- AdminLTE App -->
  <script src="{% static "dist/js/adminlte.min.js" %}"></script>
  <!-- AdminLTE for demo purposes -->
  <script src="{% static "dist/js/demo.js" %}"></script>
  <script src="{% static "dist/js/hunt.js" %}"></script>
  <!-- page script -->
  <script>
      $(function () {
          $('#hunt-table').DataTable({
              'paging': false,
              'lengthChange': false,
              'searching': false,
              'ordering': true,
              'info': false,
              'autoWidth': false
          });
      })
  </script>
{% endblock %}

</body>
</html>
