{% extends 'base.html' %}
{% load static %}
{% block main %}
  <div class="wrapper">

    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
      <!-- Left navbar links -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
        </li>
      </ul>

      <!-- Right navbar links -->
      <ul class="navbar-nav ml-auto">
        <!-- User Account: style can be found in dropdown.less -->
      {% if user %}
        <li class="nav-item dropdown user user-menu">
          <a class="nav-link" data-toggle="dropdown" href="#">
            <img src="{{ user.avatar }}"
                 class="user-image" alt="User Image">
            <span class="hidden-xs">{{ user.nickname }}</span>
          </a>
          <ul class="dropdown-menu dropdown-menu-right">
            <!-- User image -->
            <li class="user-header bg-gray">
              <img src="{{ user.avatar }}"
                   alt="User Avatar" class="img-circle align-items-center" style="width: 128px;height: auto;">
              <p class="text-center">
                {{ user.nickname }}
              </p>
            </li>
            <!-- Menu Footer-->
            <li class="user-footer">
              <div class="float-left">
                <a href="/oauth/qq/login" class="btn btn-default btn-flat">QQ绑定</a>
              </div>
              <div class="float-right">
                <a href="/logout" class="btn btn-default btn-flat">登出</a>
              </div>
            </li>
          </ul>
        </li>
      {% else %}
        <li class="nav-item dropdown user user-menu">
          <a class="nav-link" data-toggle="dropdown" href="#">
            <img src="{% static "dist/img/tata.jpg" %}"
                 class="user-image" alt="User Image">
            <span class="hidden-xs">光之呆呆</span>
          </a>
          <ul class="dropdown-menu dropdown-menu-right">
            <!-- User image -->
            <li class="user-header bg-gray">
              <img src="{% static "dist/img/tata.jpg" %}"
                   alt="User Avatar" class="img-circle align-items-center" style="width: 128px;height: auto;">
              <p class="text-center">
                光之呆呆
              </p>
            </li>
            <!-- Menu Footer-->
            <li class="user-footer">
              <div class="float-left">
                <a href="/register" class="btn btn-default bg-blue">注册</a>
              </div>
              <div class="float-right">
                <a href="/login" class="btn btn-default bg-blue">登录</a>
              </div>
            </li>
          </ul>
        </li>
      {% endif %}
      </ul>
    </nav>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
      <!-- Brand Logo -->
      <a href="/tata" class="brand-link logo-switch">
        <!-- img src="dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
             style="opacity: .8" -->
        <img src="{% static "dist/img/logo-1.png" %}" class="brand-image"
             style="margin-right: 0; vertical-align: middle">
        <span class="brand-text logo-xl" style="vertical-align: middle"><b>FFXIVの</b>Toolkit</span>
      </a>

      <!-- Sidebar -->
      <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
          <div class="image">
            <img src="{% if user %}{{ user.avatar }}{% else %}{% static "dist/img/tata.jpg" %}{% endif %}"
                 class="img-circle" alt="User Image">
          </div>
          <div class="info">
            <a href="#" class="d-block">{% if user %}{{ user.nickname }}{% else %}光之呆呆{% endif %}</a>
          </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
          <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
                 with font-awesome or any other icon font library -->
            <li class="nav-item">
              <a href="/tata" class="nav-link">
                <i class="nav-icon fas fa-table"></i>
                <p>
                  獭獭列表
                  <span class="right fas fa-angle-left"></span>
                </p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/quest" class="nav-link">
                <i class="nav-icon fas fa-tasks"></i>
                <p>
                  任务流程
                  <span class="right fas fa-angle-left"></span>
                </p>
              </a>
            </li>
            {% if user %}
            <li class="nav-item">
              <a href="/hunt" class="nav-link">
                <i class="nav-icon fas fa-clock"></i>
                <p>
                  狩猎时钟
                  <span class="right fas fa-angle-left"></span>
                </p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/image" class="nav-link">
                <i class="nav-icon fas fa-image"></i>
                <p>
                  獭の图库
                  <span class="right fas fa-angle-left"></span>
                </p>
              </a>
            </li>
            {% endif %}
            <li class="nav-item has-treeview">
              <a href="#" class="nav-link">
                <i class="nav-icon fas fa-heart"></i>
                <p>
                  友情链接
                  <i class="right fas fa-angle-left"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a href="https://ff14.huijiwiki.com/wiki/%E9%A6%96%E9%A1%B5" class="nav-link">
                    <i class="fab fa-wikipedia-w nav-icon"></i>
                    <p>Wiki</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="https://bbs.nga.cn/thread.php?fid=-362960" class="nav-link">
                    <i class="fas fa-coffee nav-icon"></i>
                    <p>NGA</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="https://www.ffxiv.cn/" class="nav-link">
                    <i class="fa fa-hamburger nav-icon"></i>
                    <p>素素</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="https://wakingsands.com" class="nav-link">
                    <i class="fa fa-home nav-icon"></i>
                    <p>沙之家</p>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </nav>
        <!-- /.sidebar-menu -->
      </div>
      <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      {% block content %}

      {% endblock %}
    </div>
    <!-- /.content-wrapper -->
    <footer class="main-footer">
      <div class="float-right d-none d-sm-inline">
        <b>Version</b> 0.1.0
      </div>
      <strong>Copyright &copy; 2017-2021 <a href="https://bluefissure.com">Bluefissure</a>.</strong> All rights
      reserved.
    </footer>

    <!-- Control Sidebar -->

    <!-- /.control-sidebar -->
    <!-- Add the sidebar's background. This div must be placed
         immediately after the control sidebar -->
    <div class="sidebar-overlay"></div>
  </div>
{% endblock %}
<!-- ./wrapper -->
{% block script %}
  <!-- jQuery -->
  <script src="{% static "plugins/jquery/jquery.min.js" %}"></script>
  <!-- Bootstrap 4 -->
  <script src="{% static "plugins/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
  <!-- AdminLTE App -->
  <script src="{% static "dist/js/adminlte.min.js" %}"></script>
  <!-- page script -->
{% endblock %}

</body>
</html>
