{% extends 'base.html' %}
{% load static %}
{% block main %}
<div class="wrapper">

  <header class="main-header">
    <!-- Logo -->
    <a href="#" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>FF</b>XIV</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>FFXIVの</b>Toolkit</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              <img src="{% if user %}{{user.avatar}}{% else %}{% static "dist/img/tata.jpg"%}{% endif %}" class="user-image" alt="User Image">
              <span class="hidden-xs">{% if user %}{{user.nickname}}{% else %}光之呆呆{% endif %}</span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                <img src="{% if user %}{{user.avatar}}{% else %}{% static "dist/img/tata.jpg"%}{% endif %}" class="img-circle" alt="User Image">
                <p>
                  {% if user %}{{user.nickname}}{% else %}光之呆呆{% endif %}
                </p>
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <a href="/oauth/qq/login" class="btn btn-default btn-flat">QQ绑定</a>
                </div>
                <div class="pull-right">
                  <a href="/logout" class="btn btn-default btn-flat">退出</a>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="{% if user %}{{user.avatar}}{% else %}{% static "dist/img/tata.jpg"%}{% endif %}" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>{% if user %}{{user.nickname}}{% else %}光之呆呆{% endif %}</p>
          <a href="#"><i class="fa fa-circle text-success"></i> 在线</a>
        </div>
      </div>
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">导航</li>
        <li class="" id="tata">
          <a href="/tata">
            <i class="fa fa-table"></i> <span>獭獭列表</span>
            <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
          </a>
        </li>
        <li class="" id="quest">
          <a href="/quest">
            <i class="fa fa-tasks"></i> <span>任务流程</span>
            <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
          </a>
        </li>
        {% if user %}
        <li class="" id="hunt">
          <a href="/hunt">
            <i class="fa fa-clock-o"></i> <span>狩猎时钟</span>
            <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
          </a>
        </li>
        {% endif %}
        <li class="" id="image">
          <a href="/image">
            <i class="fa fa-image"></i> <span>獭の图库</span>
            <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
          </a>
        </li>
        <li class="treeview" style="height: auto;">
          <a href="#">
            <i class="fa  fa-heart"></i>
            <span>友情链接</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu" style="display: none;">
            <li><a href="https://ff14.huijiwiki.com/wiki/%E9%A6%96%E9%A1%B5" target="_blank"><i class="fa fa-circle-o"></i> Wiki</a></li>
            <li><a href="https://bbs.nga.cn/thread.php?fid=-362960" target="_blank"><i class="fa fa-circle-o"></i> NGA</a></li>
            <li><a href="https://www.ffxiv.cn/" target="_blank"><i class="fa fa-circle-o"></i> 素素</a></li>
            <li><a href="https://wakingsands.com" target="_blank"><i class="fa fa-circle-o"></i> 沙之家</a></li>
          </ul>
        </li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    {% block content %}

    {% endblock %}
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 0.0.1
    </div>
    <strong>Copyright &copy; 2017-2019 <a href="https://bluefissure.com">Bluefissure</a>.</strong> All rights
    reserved.
  </footer>

  <!-- Control Sidebar -->
  
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
{% endblock %}
<!-- ./wrapper -->
{% block script %}
<!-- jQuery 3 -->
<script src="{% static "bower_components/jquery/dist/jquery.min.js"%}"></script>
<!-- Bootstrap 3.3.7 -->
<script src="{% static "bower_components/bootstrap/dist/js/bootstrap.min.js"%}"></script>
<!-- DataTables -->
<script src="{% static "bower_components/datatables.net/js/jquery.dataTables.min.js" %}"></script>
<script src="{% static "bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"%}"></script>
<!-- SlimScroll -->
<script src="{% static "bower_components/jquery-slimscroll/jquery.slimscroll.min.js"%}"></script>
<!-- FastClick -->
<script src="{% static "bower_components/fastclick/lib/fastclick.js" %}"></script>
<!-- AdminLTE App -->
<script src="{% static "dist/js/adminlte.min.js" %}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{% static "dist/js/demo.js" %}"></script>
<!-- page script -->
{% endblock %}

</body>
</html>
