{% extends 'index.html' %}
{% load static %}


{% block content %}

<!-- Content Header (Page header) -->
{% if err %}
<div class="alert alert-danger alert-dismissible">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
  <h4><i class="icon fa fa-ban"></i> {{ err.title }}</h4>
  {{ err.message }}
</div>
{% endif %}
{% if success %}
<div class="alert alert-success alert-dismissible">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
  <h4><i class="icon fa fa-ban"></i> {{ success.title }}</h4>
  {{ success.message }}
</div>
{% endif %}

<div class="content-header">
  <div class="container-fluid">
    <h1 class="m-0 text-dark">机器人列表</h1>
  </div>
</div>

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">

        <div class="card">
          <div class="card-header">
            <h3 class="card-title">现有机器人</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="example1" class="table table-striped table-hover" style="width:100%">
              <thead>
                <tr>
                  <th style="text-align: center;">昵称</th>
                  <th style="text-align: center;">QQ账号</th>
                  <th style="text-align: center;">群数量</th>
                  <th style="text-align: center;">好友数量</th>
                  <th style="text-align: center;">客户端版本</th>
                  <th style="text-align: center;">领养人QQ</th>
                  <th style="text-align: center;">在线情况</th>
                  <th style="text-align: center;">公开</th>
                  <th style="text-align: center;">配置</th>
                  <th style="text-align: center;">删除</th>
                  <!-- <th><center>配置</center></th> -->
                </tr>
              </thead>
              <tbody>
                {% for bot in bots %}
                <tr>
                  {% if bot.autofriend and bot.autoinvite %}
                  <td style="text-align: center; vertical-align: middle; color:green">{{ bot.name }}</td>
                  {% elif bot.autoinvite %}
                  <td style="text-align: center; vertical-align: middle; color:#FF9900">{{ bot.name }}</td>
                  {% elif bot.autofriend %}
                  <td style="text-align: center; vertical-align: middle; color:#FF0099">{{ bot.name }}</td>
                  {% else %}
                  <td style="text-align: center; vertical-align: middle">{{ bot.name }}</td>
                  {% endif %}
                  <td style="text-align: center; vertical-align: middle">{{ bot.user_id }}</td>
                  <td style="text-align: center; vertical-align: middle">{{ bot.group_num }}</td>
                  <td style="text-align: center; vertical-align: middle">{{ bot.friend_num }}</td>
                  <td style="text-align: center; vertical-align: middle">{{ bot.coolq_edition }}</td>
                  <td style="text-align: center; vertical-align: middle">{{ bot.owner_id }}</td>
                  {% if bot.online %}
                  <td style="text-align: center; vertical-align: middle"><span style="color: #006400;"><b>在线</b></span>
                  </td>
                  {% else %}
                  <td style="text-align: center; vertical-align: middle"><span style="color: #8b0000;"><b>离线</b></span>
                  </td>
                  {% endif %}
                  {% if bot.public %}
                  <td>
                    <button type="button" class="btn btn-block btn-warning" onclick="switch_public({{ bot.id }})">隐藏
                    </button>
                  </td>
                  {% else %}
                  <td>
                    <button type="button" class="btn btn-block btn-success" onclick="switch_public({{ bot.id }})">公开
                    </button>
                  </td>
                  {% endif %}
                  <td>
                    <!-- <button type="button" class="btn btn-block btn-primary"
                      onclick="download_conf({{ bot.id }})">下载</button> -->
                    <a class="btn btn-block btn-primary open-DownloadConf" href="#downloadConf" data-id="{{ bot.id }}"
                      data-toggle="modal" data-target="#DownloadConf">下载</a>
                  </td>
                  <td>
                    <button type="button" class="btn btn-block btn-danger" onclick="del_bot({{ bot.id }})">删除</button>
                  </td>
                </tr>
                {% endfor %}


                </tfoot>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
    </div>
    <div class="modal fade" id="DownloadConf" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="ConfTitle">配置下载</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">x</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="alert alert-warning" style="display: none;" id="GoCqhttpAlert">
              <h5><i class="icon fas fa-exclamation-triangle"></i> 注意！</h5>
              Go-cqhttp 需要下载配置文件后手动将机器人登录密码填入 password 字段中，密码为空时使用扫码登录。
            </div>
            <div style="display: none;">
              <label for="botId">Bot Id</label>
              <input type="text" class="form-control" id="downloadConfBotId" readonly="readonly">
            </div>
            <div>
              <label for="accessToken">Access Token</label>
              <input type="text" class="form-control" id="downloadConfToken" placeholder="" maxlength="16">
            </div>
            <div class="form-group">
              <label>客户端</label>
              <select class="form-control" id="downloadConfClient" onchange="clientChanged()">
                <option>Mirai</option>
                <option>OICQ</option>
                <option>YaYa</option>
                <option>Go-cqhttp</option>
              </select>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-info mr-auto" onclick="href_guide()">指南</button>
            <button type="button" class="btn btn-primary" onclick="download_conf()">下载</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal -->
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card card-primary">
          <div class="card-header with-border">
            <h3 class="card-title">领养/更新机器人</h3>
          </div>
          <!-- /.card-header -->
          <!-- form start -->
          <div method="post" role="form">
            <div class="card-body">
              <div class="form-group">
                <label for="botName">昵称(长度>2)</label>
                <input type="text" class="form-control" id="botName" placeholder="">
              </div>
              <div class="form-group">
                <label for="botID">QQ账号</label>
                <input type="text" class="form-control" id="botID" placeholder="">
              </div>
              <div class="form-group">
                <label for="ownerID">主人QQ</label>
                <input type="text" class="form-control" id="ownerID" placeholder="">
              </div>
              <div class="form-group">
                <label for="accessToken">Access Token(长度>5)</label>
                <input type="text" class="form-control" id="accessToken" placeholder="" maxlength="16">
              </div>
              <div class="form-group">
                <label for="tulingToken"><a href="http://www.tuling123.com/" target="_blank">Tuling</a>
                  Token(留空使用共享图灵账号)</label>
                <input type="text" class="form-control" id="tulingToken" placeholder="">
              </div>
              <div class="form-group">
                <label for="api_post_url">Http API Post URL(留空使用websocket)</label>
                <input type="text" class="form-control" id="api_post_url" placeholder="">
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" id="autoFriend"> 自动同意好友请求
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" id="autoInvite"> 自动同意加群邀请
                </label>
              </div>
            </div>
            <!-- /.card-body -->

            <div class="card-footer">
              <button class="btn btn-primary" onclick="add_or_update_bot()">申请/更新</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <!-- DIRECT CHAT -->
        <div class="card card-warning direct-chat direct-chat-warning">
          <div class="card-header with-border">
            <h3 class="card-title">想说的话</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <!-- Conversations are loaded here -->
            <div class="direct-chat-messages">
              <!-- Message. Default to the left -->
              <div class="direct-chat-msg">
                <div class="direct-chat-info clearfix">
                  <span class="direct-chat-name pull-left">Bluefissure</span>
                  <span class="direct-chat-timestamp pull-right">2020-11-27 10:49:31</span>
                </div>
                <!-- /.direct-chat-info -->
                <img class="direct-chat-img" src="{% static "dist/img/bluefissure.jpg" %}" alt="message user image">
                <!-- /.direct-chat-img -->
                <div class="direct-chat-text">
                  请参考<a href="https://github.com/Bluefissure/OtterBot/wiki/%E9%A2%86%E5%85%BB%E6%96%87%E6%A1%A3"
                    target="_blank">Wiki</a>使用本服务。
                </div>
                <!-- /.direct-chat-text -->
              </div>
              <div class="direct-chat-msg">
                <div class="direct-chat-info clearfix">
                  <span class="direct-chat-name pull-left">Bluefissure</span>
                  <span class="direct-chat-timestamp pull-right">2018-8-21 11:28:02</span>
                </div>
                <!-- /.direct-chat-info -->
                <img class="direct-chat-img" src="{% static "dist/img/bluefissure.jpg" %}" alt="message user image">
                <!-- /.direct-chat-img -->
                <div class="direct-chat-text">
                  机器人数量达到上限后会停止新的机器人申请，可以参考取以下獭窝中领养獭獭（需要将链接地址进行对应替换）。
                  不同颜色表示：自动同意<span style="color:#FF9900">加群邀请</span>，<span style="color:#FF0099">好友邀请</span>，<span
                    style="color:green">均同意</span>
                </div>
                <!-- /.direct-chat-text -->
              </div>
              <div class="direct-chat-msg">
                <div class="direct-chat-info clearfix">
                  <span class="direct-chat-name pull-left">Bluefissure</span>
                  <span class="direct-chat-timestamp pull-right">2018-8-20 16:31:30</span>
                </div>
                <!-- /.direct-chat-info -->
                <img class="direct-chat-img" src="{% static "dist/img/bluefissure.jpg" %}" alt="message user image">
                <!-- /.direct-chat-img -->
                <div class="direct-chat-text">
                  出现问题请<a href="http://wpa.qq.com/msgrd?v=3&uin=306401806&site=qq&menu=yes" target="_blank">联系獭爹</a>，或<a
                    href="https://jq.qq.com/?_wv=1027&k=5L3hY4w" target="_blank">加入群聊</a>
                </div>
                <!-- /.direct-chat-text -->
              </div>
              <div class="direct-chat-msg">
                <div class="direct-chat-info clearfix">
                  <span class="direct-chat-name pull-left">Bluefissure</span>
                  <span class="direct-chat-timestamp pull-right">2018-8-17 23:14:30</span>
                </div>
                <!-- /.direct-chat-info -->
                <img class="direct-chat-img" src="{% static "dist/img/bluefissure.jpg" %}" alt="message user image">
                <!-- /.direct-chat-img -->
                <div class="direct-chat-text">
                  领养教程<a href="http://bbs.ngacn.cc/read.php?tid=14726260" target="_blank">点击此处</a>
                </div>
                <!-- /.direct-chat-text -->
              </div>
              <div class="direct-chat-msg">
                <div class="direct-chat-info clearfix">
                  <span class="direct-chat-name pull-left">Bluefissure</span>
                  <span class="direct-chat-timestamp pull-right">2018-8-17 20:09:48</span>
                </div>
                <!-- /.direct-chat-info -->
                <img class="direct-chat-img" src="{% static "dist/img/bluefissure.jpg" %}" alt="message user image">
                <!-- /.direct-chat-img -->
                <div class="direct-chat-text">
                  大家要对獭獭温柔一点哦~
                </div>
                <!-- /.direct-chat-text -->
              </div>
              <!--/.direct-chat-messages-->
            </div>
            <!-- /.card-body -->
          </div>
          <!--/.direct-chat -->
        </div>

        <div class="card card-primary">
          <div class="card-header with-border">
            <h3 class="card-title">其他獭窝</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <ul class="products-list product-list-in-card">
              <li class="item">
                <div class="product-img">
                  <img src="https://i.loli.net/2020/01/10/bWPpDq6QL3VmeMo.jpg" alt="猪窝">
                </div>
                <div class="product-info">
                  <a href="https://tata.guomie.club/" class="product-title" target="_blank">猪窝 —— 果咩
                    <span class="badge bg-green float-right">自建</span></a>
                  <span class="product-description">
                    没有鸡
                  </span>
                </div>
              </li>
              <li class="item">
                <div class="product-img">
                  <img src="https://i.loli.net/2019/03/12/5c87267f13817.jpg" alt="风断苍">
                </div>
                <div class="product-info">
                  <a href="http://botapi.dead-war.cn/" class="product-title" target="_blank">风断苍茫 —— 风断苍
                    <span class="badge bg-green float-right">自建</span></a>
                  <span class="product-description">
                    还要说啥
                  </span>
                </div>
              </li>
              <li class="item">
                <div class="product-img">
                  <img src="https://i.loli.net/2019/11/05/JHLMBRicSx8zrTZ.jpg" alt="小猪猫">
                </div>
                <div class="product-info">
                  <a href="http://moguke.top:45015/" class="product-title" target="_blank">小猪猫の家 —— 小猪猫
                    <span class="badge bg-green float-right">自建</span></a>
                  <span class="product-description">
                    獭爹的小迷妹
                  </span>
                </div>
              </li>
              <li class="item">
                <div class="product-img">
                  <img src="https://tva4.sinaimg.cn/crop.0.0.198.198.1024/80d4df22gw1ef3t98k9x0j205j05kjrh.jpg"
                    alt="鉛筆">
                </div>
                <div class="product-info">
                  <a href="http://bot.pencilss.top/" class="product-title" target="_blank">肥肥の食材村 —— 铅筆
                    <span class="badge bg-green float-right">自建</span></a>
                  <span class="product-description">
                    今晚有肥吃吗<img src="https://i.loli.net/2019/11/07/yGKM5qkoDbJZzl9.gif" height="30">
                  </span>
                </div>
              </li>
              <!-- /.item -->
            </ul>
          </div>
          <!-- /.card-body -->
          <!-- <div class="card-footer text-center">
              <a href="javascript:void(0)" class="uppercase">View All Products</a>
            </div> -->
          <!-- /.card-footer -->
        </div>

      </div>
      <!-- /.col -->
    </div>
  </div>
</section>


{% endblock %}


{% block script %}
<!-- jQuery 3 -->
<script src="{% static "plugins/jquery/jquery.min.js" %}"></script>
<!-- Bootstrap 3.3.7 -->
<script src="{% static "plugins/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
<!-- DataTables -->
<script src="{% static "plugins/datatables/jquery.dataTables.min.js" %}"></script>
<script src="{% static "plugins/datatables-bs4/js/dataTables.bootstrap4.min.js" %}"></script>
<!-- FastClick -->
<script src="{% static "plugins/fastclick/fastclick.js" %}"></script>
<!-- AdminLTE App -->
<script src="{% static "dist/js/adminlte.min.js" %}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{% static "dist/js/demo.js" %}"></script>
<!-- page script -->
<script>
  $(document).on("click", ".open-DownloadConf", function() {
    var botId = $(this).data('id');
    $("#downloadConfBotId").val(botId);
  });
  $(function() {
    $('#example1').DataTable({
      "scrollX": false,
      "autoWidth": true,
      "language": {
        "sProcessing": "处理中...",
        "sLengthMenu": "显示 _MENU_ 项结果",
        "sZeroRecords": "没有匹配结果",
        "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
        "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
        "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
        "sSearch": "搜索:",
        "sEmptyTable": "表中数据为空",
        "sLoadingRecords": "载入中...",
        "sInfoThousands": ",",
        "oPaginate": {
          "sFirst": "首页",
          "sPrevious": "上页",
          "sNext": "下页",
          "sLast": "末页"
        },
        // 排序方式
        "oAria": {
          "sSortAscending": ": 以升序排列此列",
          "sSortDescending": ": 以降序排列此列"
        }
      }
    });
    $('#example2').DataTable({
      'paging': true,
      'lengthChange': false,
      'searching': false,
      'ordering': true,
      'info': true,
      'autoWidth': false
    })
  });

  function clientChanged() {
    var client = $("#downloadConfClient").val();
    if (client == "Go-cqhttp") {
      $("#GoCqhttpAlert").css("display", "");
    } else {
      $("#GoCqhttpAlert").css("display", "none");
    }
  }

  function switch_public(id) {
    var token = prompt("请输入Token:");
    $.ajax({
      type: 'POST',
      url: '',
      async: false,
      data: { "optype": "switch_public", "token": token, "id": id, 'csrfmiddlewaretoken': '{{ csrf_token }}' },
      success: function(data) {
        if (data.response != "success") {
          if (data.response == "error") {
            alert(data.msg);
          } else {
            alert(data.response);
            console.log(data);
          }
        } else {
          alert("操作成功！");
          location.reload();
        }
      },
    });
  }

  function del_bot(id) {
    var token = prompt("请输入Token:");
    $.ajax({
      type: 'POST',
      url: '',
      async: false,
      data: { "optype": "del_bot", "token": token, "id": id, 'csrfmiddlewaretoken': '{{ csrf_token }}' },
      success: function(data) {
        if (data.response != "success") {
          if (data.response == "error") {
            alert(data.msg);
          } else {
            alert(data.response);
            console.log(data);
          }
        } else {
          alert("操作成功！");
          location.reload();
        }
      },
    });
  }

  function href_guide() {
    var client = $("#downloadConfClient").val();
    var clientGuideMap = {
      "Mirai": "https://github.com/Bluefissure/OtterBot/wiki/Mirai",
      "OICQ": "https://github.com/Bluefissure/OtterBot/wiki/OICQ",
      "YaYa": "https://github.com/Bluefissure/OtterBot/wiki/%E5%85%88%E9%A9%B1%E7%8D%AD",
      "Go-cqhttp": "https://github.com/Bluefissure/OtterBot/wiki/Go-cqhttp",
    };
    window.open(clientGuideMap[client], '_blank');
  }

  function download_conf(id) {
    id = $("#downloadConfBotId").val();
    var token = $("#downloadConfToken").val();
    var client = $("#downloadConfClient").val();
    // console.log(id + "|" + token + "|" + client);
    var request = new XMLHttpRequest();
    request.open('POST', '', true);
    request.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
    request.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
    request.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
    request.responseType = 'blob';
    request.onload = function(e) {
      if (this.status === 200) {
        var blob = this.response;
        var clientConfigMap = {
          "Mirai": "settings.yml",
          "OICQ": "config.js",
          "YaYa": "config.yml",
          "Go-cqhttp": "config.yml",
        };
        var fileName = clientConfigMap[client];
        // console.log(blob);
        if (window.navigator.msSaveOrOpenBlob) {
          window.navigator.msSaveBlob(blob, fileName);
        } else {
          var downloadLink = window.document.createElement('a');
          var contentTypeHeader = request.getResponseHeader("Content-Type");
          downloadLink.href = window.URL.createObjectURL(new Blob([blob], { type: contentTypeHeader }));
          /*
          var contentDispositionHeader = request.getResponseHeader("Content-Disposition");
          let ma = contentDispositionHeader.match(/filename="(.+)"/);
          if (ma != null) fileName = ma[1];
          */
          downloadLink.download = fileName;
          document.body.appendChild(downloadLink);
          downloadLink.click();
          document.body.removeChild(downloadLink);
        }
      }
    };
    request.send("optype=download_conf&token=" + token + "&id=" + id + "&client=" + client + '&csrfmiddlewaretoken=' + '{{ csrf_token }}');
  }

  function add_or_update_bot() {
    var botName = document.getElementById("botName").value;
    var botID = document.getElementById("botID").value;
    var ownerID = document.getElementById("ownerID").value;
    var accessToken = document.getElementById("accessToken").value;
    var tulingToken = document.getElementById("tulingToken").value;
    var api_post_url = document.getElementById("api_post_url").value;
    var autoFriend = document.getElementById("autoFriend").checked;
    var autoInvite = document.getElementById("autoInvite").checked;
    $.ajax({
      type: 'POST',
      url: '',
      async: false,
      data: {
        "optype": "add_or_update_bot",
        "botName": botName,
        "botID": botID,
        "ownerID": ownerID,
        "accessToken": accessToken,
        "tulingToken": tulingToken,
        "api_post_url": api_post_url,
        "autoFriend": autoFriend,
        "autoInvite": autoInvite,
        'csrfmiddlewaretoken': '{{ csrf_token }}'
      },
      success: function(data) {
        if (data.response != "success") {
          if (data.response == "error") {
            alert(data.msg);
          } else {
            alert(data.response);
            console.log(data);
          }
        } else {
          prompt(data.msg, data.token);
          location.reload();
        }
      },
    });
  }
</script>
{% endblock %}

</body>

</html>