# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python 3.8

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup Redis
      uses: zhulik/redis-action@1.1.0
    - name: Setup MySQL
      uses: mirromutth/mysql-action@v1.1
      with:
        mysql database: FFXIV_DEV
        mysql user: FFXIV_DEV
        mysql password: PASSWORD
    - name: Setup RabbitMQ
      uses: nijel/rabbitmq-action@v1.0.0
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 pytest
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Test
      run: |
        mv FFXIV/settings_example.py FFXIV/settings.py
        python manage.py makemigrations ffxivbot
        python manage.py makemigrations
        python manage.py migrate
        python manage.py test
